:root {
    --item-background-color: transparent;
    --side-column-background-color: #dddddd24;
    --item-color: rgba(78, 78, 78);
    --icon-color: rgba(102, 99, 94, 0.7);
    --icon-size: 18px;
    --item-sub-color: gray;
    --item-sub-sub-color: rgb(160, 160, 160);
    --item-margin: 3px;
    --item-padding: 3px;
    --item-font-size: 12px;
    --item-sub-font-size: 10px;
    --item-height: 20px;
    --env-font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    --transition: background-color 0.3s ease-out;
    --item-hover-background-color: rgba(162, 162, 162, 0.2);
    --display-hover-background-color: #e1e0e03c;
    --display-font-size: 11.5pt;
    --display-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --display-line-height: 1.5;
    --display-widget-background-color: rgba(200, 200, 200, 0.2);
    --link-color: #2796cb;
    --link-color-transparency: #2797cb30;
}

body,
html {
    margin: 0;
    /* padding: 5px; */
    height: 100%;
    overflow: clip;
    font-family: var(--env-font-family);
    color: var(--item-color);
    display: block;
}

:focus {
    outline: none;
}

i {
    width: var(--icon-size);
    color: var(--icon-color);
}

button {
    background-color: transparent;
    border: transparent;
    color: var(--icon-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 20px;
    padding: 1px;
}

button:hover {
    background-color: #c4c4c43c;
    transition: 0.3s;
}

#search-documents-list {
    padding: 5px;
}

#directory-contents-list {
    padding: 5px;
    padding-bottom: 150px;
}

.fileLabel,
.directoryLabel {
    font-size: var(--item-font-size);
    padding: var(--item-padding);
    display: flex;
}

.node {
    border-radius: 3px;
    margin: var(--item-padding);
}

.fileNode,
.directoryLabel {
    border-radius: 3px;
}

.fileNode:hover,
.directoryLabel:hover {
    background-color: var(--item-hover-background-color);
}

.fileLabel:focus,
.directoryName:focus {
    min-width: 80%;
    background-color: white;
    border-bottom: 1px solid gray;
}

.hide-children-node {
    display: none;
}

.dragged-node {
    opacity: 0.5;
}

.directoryChildren {
    padding-left: 1.5ch;
    border-left: 1px solid var(--item-sub-color);
}

#directory-contents-children {
    padding-left: 5px;
    border: none;
}

.target-dir {
    background-color: var(--link-color-transparency);
}

.split {
    display: flex;
    flex-direction: row;
}

.fa-folder,
.fa-file {
    margin-right: 3px;
    margin-left: 3px;
}

.parent:hover>.child {
    background-color: initial;
    /* This resets the style for direct children */
}

.active,
.active-context-menu {
    background-color: var(--item-hover-background-color);
}

.dropdown-menu {
    width: 150px;
    background-color: #f4f4f4;
    display: block;
    border: 1px solid var(--item-color);
    border-radius: 5px;
    padding: 10px;
}

.dropdown-menu button {
    width: 100%;
    color: var(--item-color);
    justify-content: left;
    font-size: var(--item-font-size);
    padding: var(--item-padding);
}

#toggleColumn {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: var(--item-font-size);
    width: 80px;
    right: 0;
    border-radius: 5px;
    padding: 4px;
}

/* Style the checkboxes within the dropdown */
#dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

/* Label styling for better clickability and visual */
#dropdown-content label {
    display: block;
    text-decoration: none;
    transition: var(--transition);
    align-items: center;
}

/* Change background color of labels on hover for visual feedback */
#dropdown-content label:hover {
    background-color: var(--item-hover-background-color);
}

/* Show the dropdown menu on hover over the container */
#toggleColumn:hover #dropdown-content {
    display: block;
}

#menu {
    border-right: 1px solid gray;
    background-color: var(--side-column-background-color);
}

#outline {
    border-left: 1px solid gray;
    background-color: var(--side-column-background-color);
    margin-left: 1px;
    padding-top: 10px;
}

#outlineHeader {
    text-align: center;
    font-family: var(--env-font-family);
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0px;
    color: var(--item-color);
}

#outlineList {
    padding: 5px;
}

.outlineItem {
    min-height: 15px;
    font-family: var(--env-font-family);
    font-size: var(--item-font-size);
    margin: var(--item-margin);
    background-color: var(--item-background-color);
    transition: var(--transition);
    color: var(--item-color);
    align-items: center;
    cursor: pointer;
    border-left: 1px solid gray;
}

.outlineItem:hover {
    background-color: var(--item-hover-background-color);
}

.outlineItem .heading-level-1 {
    margin-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.outlineItem .heading-level-2 {
    margin-left: 1ch;
    padding-top: 2px;
    padding-bottom: 2px;
}

.outlineItem .heading-level-3 {
    margin-left: 2ch;
    padding-top: 2px;
    padding-bottom: 2px;
}

.outlineItem .heading-level-4 {
    margin-left: 4ch;
    padding-top: 2px;
    padding-bottom: 2px;
}

.outlineItem .heading-level-5 {
    margin-left: 6ch;
    padding-top: 2px;
    padding-bottom: 2px;
}

.outlineItem .heading-level-6 {
    margin-left: 8ch;
    padding-top: 2px;
    padding-bottom: 2px;
}

#suggestions {
    display: none;
    position: fixed;
    /* Changed from absolute to fixed for viewport positioning */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Centers the div */
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    width: 80vh;
    /* Fixed width */
    height: 80vh;
    /* Fixed height */
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    z-index: 1000;
    overflow-y: hidden;
    /* Scrollbar as needed */
    justify-content: center;
}

#suggestion-input {
    width: 100%;
    /* Make the input take up the full width of its parent */
    box-sizing: border-box;
    /* Include padding and border in the element's width */
    height: 30px;
}

#suggestion-options {
    height: 90%;
    overflow-y: auto;
    margin-top: 10px;
}

.suggestion-item {
    background-color: var(--item-background-color);
    transition: var(--transition);
    cursor: pointer;
    padding: 10px;
}

.suggestion-item:hover {
    background-color: var(--item-hover-background-color);
}

.suggestion-item-file-path {
    font-size: var(--item-font-size);
    font-weight: bold;
}

.suggestion-item-id {
    font-size: var(--item-sub-font-size);
}

.suggestion-item-note {
    font-size: var(--item-sub-font-size);
    color: var(--item-color);
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
}

#menu,
#outline,
#editorContainer {
    overflow-y: auto;
    /* Enables vertical scrolling */
}


.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter:hover,
.on-drag-gutter {
    background-color: var(--link-color);
}

.block .gutter:hover,
.block .on-drag-gutter {
    background-color: skyblue;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.zero-width {
    display: none;
}

.default-width {
    display: block;
}

#editorContainer {
    flex-grow: 1;
    /* Allows the editor container to fill remaining space */
    max-height: 100vh;
    /* Adjust based on your layout needs */
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 5px;
}

/* Custom scrollbar styles for Webkit browsers to ensure visibility when active */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* Adjust scrollbar width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: var(--item-hover-background-color);
    border-radius: 4px;
    transition: rgba(170, 170, 170, 0.3);
}

#menuButtonDiv,
#searchDocuments {
    padding: 5px;
    align-items: center;
    display: flex;
}

#searchDocuments {
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

#searchDocuments .fa-magnifying-glass {
    height: 15px;
    width: 15px;
}

#search-documents-input {
    background-color: white;
    width: 100%;
    font-size: var(--item-font-size);
    height: 18px;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    outline: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    color: var(--item-color);
}

.searched-item {
    font-size: var(--item-font-size);
    color: var(--item-color);
    padding: var(--item-padding);
    display: block;
    transition: var(--transition);
    overflow-x: hidden;
}

.searched-item:hover {
    background-color: var(--item-hover-background-color);
}

.searched-file-name {
    font-weight: bold;
    color: var(--item-sub-color);
}

.matched-content {
    font-size: var(--item-sub-font-size-size);
    color: var(--item-sub-color);
}

.matched-term {
    color: var(--link-color);
}

/* Style for the sidebar menu */
#searchDiv {
    position: fixed;
    /* Fixed position */
    top: 10px;
    /* Positioned 10px from the top */
    left: 50%;
    /* Positioned in the middle of the page */
    transform: translateX(-50%);
    /* Shifts the div back by half its own width */
    z-index: 1000;
    /* Ensures it stays on top of other elements */
    background-color: white;
    /* Background color */
    border: 1px solid #ddd;
    /* Border for visibility */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Shadow for a "floating" effect */
    padding: 8px;
    /* Some padding around the content */
    border-radius: 4px;
    /* Rounded corners */
    display: flex;
    /* Flex layout for the internal elements */
    gap: 8px;
    /* Spacing between elements */
}

#searchBox {
    flex-grow: 1;
    /* Allows the search box to take up available space */
}

#searchBox:focus {
    outline: none;
}

#searchButton,
#stopSearchButton {
    width: auto;
    /* Adjust width */
    padding: 0 10px;
    /* Padding for buttons */
}

#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 2px;
    position: fixed;
    height: 15px;
    z-index: 10;
}

.no-navigate {
    color: rgb(200, 200, 200);
}

#file-name {
    font-size: var(--item-font-size);
    color: var(--item-color);
    flex-grow: 1;
    text-align: center;
}

#mainContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
    top: 20px;
    position: relative;
}

#rightContainer {
    display: flex;
    margin-left: auto;
    padding-right: 3px;
}

.fontSizeButton {
    padding: 0px;
    /* border: 1px solid black; */
    height: 20px;
    width: 20px;
}

#bottomBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    font-size: var(--item-font-size);
    color: var(--item-color);
    height: 15px;
    padding-left: 10px;
}

#title {
    border: none;
    border-bottom: 1px solid #000000;
    border-spacing: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    width: 100%;
}

.buttons {
    display: flex;
}

#blocks {
    padding-bottom: 500px;
}

.block {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
}

.block i {
    color: rgb(204, 204, 204);
    font-size: 9pt;
    cursor: pointer;
    text-align: center;
    width: 10pt;
    margin-bottom: 5px;
}

.block i:hover {
    color: gray;
}

.buttonContainer {
    width: 23pt;
    flex: 0 0 23pt;
    position: relative;
}

.dragButton {
    position: absolute;
    top: 0;
    left: 0;
}


/* Hide the dropdown initially */
.following-button-div {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
}

/* Style the dropdown items */
.following-button-div i {
    display: block;
}

/* Show the dropdown when hovering over the drag button */
.dragButton:hover~.following-button-div,
.buttonContainer:hover .following-button-div {
    /* Keep the dropdown open when hovering over it */
    display: block;
}

.selected-block {
    background-color: var(--display-hover-background-color);
    transition: var(--transition);
}

.cueContainer,
.noteContainer {
    position: relative;
}

.cueContainer {
    overflow: hidden;
}

.noteContainer {
    overflow: hidden;
}

.CodeMirror,
.cueDisplay,
.noteDisplay {
    font-family: var(--display-font-family);
    font-size: var(--display-font-size);
    line-height: var(--display-line-height);
    height: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 1.2px solid;
    background-color: transparent;
    color: black;
}

.CodeMirror {
    border-left-color: rgb(204, 204, 204);
}

::selection,
.CodeMirror .CodeMirror-selected {
    background-color: rgba(186, 186, 186, 0.3);
}

.CodeMirror-lines {
    line-height: var(--display-line-height);
}

.cueDisplay,
.noteDisplay {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 30px;
    cursor: text;
    tab-size: 4;
    box-sizing: border-box;
    height: 100%;
    transition: background-color 0.3s ease-out;
    overflow-x: auto;
    border-left-color: black;
}

.noteDisplay,
.noteContainer .CodeMirror {
    text-align: justify;
}

.highlighted-block {
    background-color: rgba(245, 236, 171, 0.3);
}

.cueEdit:hover,
.cueDisplay:hover,
.noteEdit:hover,
.noteDisplay:hover,
.cueEdit:focus,
.cueDisplay:focus,
.noteEdit:focus,
.noteDisplay:focus {
    background-color: var(--display-hover-background-color);
}

blockquote {
    border-left: 1.5px solid var(--link-color);
    background-color: var(--display-widget-background-color);
    margin: 5px;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
}

.cueDisplay li::marker,
.noteDisplay li::marker {
    color: gray;
}

.cueDisplay ul,
.noteDisplay ul {
    padding-inline-start: 4ch;
}

.CodeMirror .cm-comment,
.cueDisplay code,
.noteDisplay code {
    font-family: 'Consolas';
    padding: 1px;
    font-size: var(--display-font-size);
    color: var(--item-color);
}

.cueDisplay pre>code,
.noteDisplay pre>code,
.note pre>code {
    font-family: 'Consolas';
    padding: 5px;
    background-color: var(--display-widget-background-color);
    display: block;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    width: 85%;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Centers the block horizontally */
    overflow: auto;
    /* In case the content overflows */
}

a {
    color: var(--link-color);
}


/* codemirror overwrite styles */

.cm-s-default .cm-header {
    color: black;
}

.highlight-text,
.cm-highlight-text {
    background-color: #f9e065c8;
}

.cm-s-default .cm-link {
    color: var(--link-color);
}

.cm-s-default .cm-variable-1,
.cm-s-default .cm-variable-2,
.cm-s-default .cm-variable-3,
.cm-s-default .cm-variable-4,
.cm-s-default .cm-variable-5,
.cm-s-default .cm-keyword {
    color: black;
}

.cm-s-default .cm-formatting,
.cm-s-default .cm-string {
    color: var(--item-sub-sub-color);
}

.cm-s-default .cm-quote {
    color: var(--item-color);
}

.cm-s-default .cm-link {
    color: var(--link-color);
}

.cueDisplay a,
.noteDisplay a {
    cursor: pointer;
}

.cueDisplay img,
.noteDisplay img {
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.cueDisplay u,
.noteDisplay u {
    padding-top: var(--item-font-size);
    padding-bottom: var(--item-font-size);
}

.hideContainer {
    display: none;
}

.onlyContainer {
    width: 97%;
}

table {
    width: 100%;
    /* Adjust the width as needed */
    border-collapse: collapse;
    /* Optional: for collapsing cell borders */
}

table,
th,
td {
    border: 1px solid black;
    /* Optional: for adding borders to the table */
}

th,
td {
    text-align: center;
    /* Centers text horizontally */
    vertical-align: middle;
    /* Centers content vertically */
    padding: 8px;
    /* Optional: for padding inside cells */
}

.cueDisplay mark,
.noteDisplay mark {
    background-color: #FFE878;
}

.fa {
    font-size: 12px;
    margin: 0 auto;
}