::selection {
    background-color: #babdb98e;
}

button {
    background-color: transparent;
    border: transparent;
    color: rgba(102, 99, 94, 0.7);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    width: 20px;
}

button:hover {
    background-color: #c4c4c43c;
    transition: 0.3s;
}

#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightContainer {
    display: flex;
}

.fontSizeButton {
    padding: 0px;
    /* border: 1px solid black; */
    height: 20px;
    width: 20px;
}

#title {
    border: none;
    border-bottom: 1px solid #000000;
    border-spacing: 10px;
    font-size: 30px;
    font-family: 'CMU Serif';
    font-weight: bold;
    width: 100%;
}

#title:focus {
    outline: none;
}

.buttons {
    display: flex;
}

#blocks {
    padding-bottom: 500px;
}

.block {
    width: 100%;
    display: block;
    margin-bottom: 2px;
}

.buttonContainer {
    width: 3%;
    text-align: center;
}

.cueContainer,
.noteContainer {
    position: relative;
}

.cueContainer {
    width: 25%;
}

.noteContainer {
    width: 72%;
}

.cueButton,
.noteButton {
    position: absolute;
    background-color: transparent;
    border: transparent;
    border-radius: 3px;
    display: block;
    color: rgba(102, 99, 94, 0.7);
}

.cueButton:hover,
.noteButton:hover {
    background-color: #c4c4c43c;
    transition: 0.3s;
}

.cueEdit,
.noteEdit,
.cueDisplay,
.noteDisplay {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 30px;
    font-family: 'CMU Serif';
    font-size: 15px;
    /* line-height: 20px; */
    cursor: text;
    tab-size: 4;
    padding-top: 8px;
    padding-left: 5px;
    margin-right: 2px;
    box-sizing: border-box;
    height: 100%;
    transition: background-color 0.3s ease-out;
    overflow-x: auto;
}

.cueEdit:hover,
.cueDisplay:hover,
.noteEdit:hover,
.noteDisplay:hover,
.cueEdit:focus,
.cueDisplay:focus,
.noteEdit:focus,
.noteDisplay:focus {
    background-color: #e1e0e03c;
}

.cueEdit,
.noteEdit {
    border-left: 1.5px solid #3389C5;
}

.cueEdit:focus,
.noteEdit:focus {
    outline: none;
}

.cueDisplay,
.noteDisplay {
    border-left: 1.5px solid #B4A9C8;
}

.cueDisplay blockquote,
.noteDisplay blockquote {
    border-left: 1.5px solid #53a8b6;
    margin: 1px;
    padding: 2px;
    background-color: #f6f6f6;
}

.cueDisplay code,
.noteDisplay code {
    font-family: 'Consolas';
    padding: 1px;
    background-color: #bacccf85;
    color: #6F8DB3;
    font-size: 12px;
}

.cueDisplay pre>code,
.noteDisplay pre>code {
    font-family: 'Consolas';
    padding: 5px;
    background-color: #000000;
    color: white;
    display: block;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    width: 85%;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Centers the block horizontally */
    overflow: auto;
    /* In case the content overflows */
}

.cueDisplay a,
.noteDisplay a {
    color: #2796cb;
}

.cueDisplay img,
.noteDisplay img {
    max-width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    /* Adjust the width as needed */
    border-collapse: collapse;
    /* Optional: for collapsing cell borders */
}

table,
th,
td {
    border: 1px solid black;
    /* Optional: for adding borders to the table */
}

th,
td {
    text-align: center;
    /* Centers text horizontally */
    vertical-align: middle;
    /* Centers content vertically */
    padding: 8px;
    /* Optional: for padding inside cells */
}

.cueDisplay mark,
.noteDisplay mark {
    background-color: #FFE878;
}

.fa {
    font-size: 12px;
    margin: 0 auto;
}