:root {
    --item-background-color: transparent;
    --side-column-background-color: #dddddd24;
    --item-color: rgba(78, 78, 78);
    --item-margin: 3px;
    --item-padding: 3px;
    --item-font-size: 12px;
    --env-font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    --transition: background-color 0.3s ease-out;
    --item-hover-background-color: rgba(162, 162, 162, 0.2);
}

body,
html {
    margin: 0;
    padding: 5px;
    height: 100%;
    /* This ensures the HTML and body fill the entire screen */
    overflow: hidden;
    /* This prevents scrollbars on the whole page */
}

button {
    background-color: transparent;
    border: transparent;
    color: rgba(102, 99, 94, 0.7);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 20px;
}

button:hover {
    background-color: #c4c4c43c;
    transition: 0.3s;
}

#menu {
    width: 200px;
    margin-right: 8px;
    border-right: 1px solid gray;
    background-color: var(--side-column-background-color);
    margin-top: 8px;
}

#menuButtonDiv {
    display: flex;
}

#directory-contents-list {
    padding-top: 20px;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 3px;
}

.gutter .gutter-horizontal {
    /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
    cursor: col-resize;
    width: 1px;
}

.fa-folder,
.fa-file {
    margin-right: 3px;
    margin-left: 3px;
}

.fileNode,
.directoryNode {
    color: var(--item-color);
    background-color: var(--item-background-color);
    transition: background-color 0.3s ease-out;
    font-family: var(--env-font-family);
    font-size: var(--item-font-size);
    margin: var(--item-margin);
    display: block;
    padding: var(--item-padding);
    align-items: center;
}


.parent:hover > .child {
  background-color: initial; /* This resets the style for direct children */
}

.active {
    background-color: var(--item-hover-background-color);
}

.directoryNode, 
.directoryChildren {
    border-left: 1.3px solid gray;
}

.fileNode:hover {
    background-color: var(--item-hover-background-color);
}

.fileLabel:focus,
.directoryLabel:focus {
    border-bottom: 1px solid gray;
    outline: none;
    background-color: white;
}

.dropdown-menu {
    width: 150px;
    min-height: 150px;
    background-color: #f4f4f4;
    display: block;
    border: 1px solid black;
    border-radius: 1px;
    padding: 10px;
}

.dropdown-menu button {
    width: 100%;
    padding: 3px;
    font-size: var(--item-font-size);
    color: var(--item-color);
    justify-content: left;
}

#outline {
    width: 200px;
    margin-left: 8px;
    border-left: 1px solid gray;
    background-color: var(--side-column-background-color);
    margin-top: 8px;
}

#outlineHeader {
    text-align: center;
    font-family: var(--env-font-family);
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0px;
    color: var(--item-color);
}

#outlineList {
    padding: 5px;
}

.outlineItem {
    min-height: 20px;
    font-family: var(--env-font-family);
    font-size: var(--item-font-size);
    margin: var(--item-margin);
    padding: var(--item-padding);
    background-color: var(--item-background-color);
    transition: var(--transition);
    color: var(--item-color);
    align-items: center;
    cursor: pointer;
}

.outlineItem:hover {
    background-color: var(--item-hover-background-color);
}

.outlineItem .fa-regular {
    margin: 3px;
}

#mainContainer {
    display: flex;
    height: 100vh;
    /* Adjust based on your layout needs */
}

#menu,
#outline,
#editorContainer {
    overflow-y: auto;
    /* Enables vertical scrolling */
}

#menu,
#outline {
    padding-bottom: 300px;
    /* Adjust based on your layout needs */
    display: none;
    /* Already set in your HTML */
}

#editorContainer {
    flex-grow: 1;
    /* Allows the editor container to fill remaining space */
    max-height: 100vh;
    /* Adjust based on your layout needs */
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 5px;
}

/* Custom scrollbar styles for Webkit browsers to ensure visibility when active */
#menu::-webkit-scrollbar,
#outline::-webkit-scrollbar,
#editorContainer::-webkit-scrollbar {
    width: 5px;
    /* Adjust scrollbar width as needed */
}

#menu::-webkit-scrollbar-thumb,
#outline::-webkit-scrollbar-thumb,
#editorContainer::-webkit-scrollbar-thumb {
    background-color: var(--item-hover-background-color);
    /* Adjust scrollbar color as needed */
    border-radius: 4px;
    /* Rounds the corners of the scrollbar thumb */
}

/* Optional: Hide scrollbars for Firefox */
#menu,
#outline,
#editorContainer {
    scrollbar-width: thin;
    /* 'auto' or 'thin' to show scrollbars only when necessary */
    scrollbar-color: darkgrey transparent;
    /* Adjust scrollbar color as needed */
}

#menuButtonDiv {
    padding: 5px;
    align-items: center;
}

/* Style for the sidebar menu */
#searchDiv {
    position: fixed;
    /* Fixed position */
    top: 10px;
    /* Positioned 10px from the top */
    left: 50%;
    /* Positioned in the middle of the page */
    transform: translateX(-50%);
    /* Shifts the div back by half its own width */
    z-index: 1000;
    /* Ensures it stays on top of other elements */
    background-color: white;
    /* Background color */
    border: 1px solid #ddd;
    /* Border for visibility */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Shadow for a "floating" effect */
    padding: 8px;
    /* Some padding around the content */
    border-radius: 4px;
    /* Rounded corners */
    display: flex;
    /* Flex layout for the internal elements */
    gap: 8px;
    /* Spacing between elements */
}

#searchBox {
    flex-grow: 1;
    /* Allows the search box to take up available space */
}

#searchBox:focus {
    outline: none;
}

#searchButton,
#stopSearchButton {
    width: auto;
    /* Adjust width */
    padding: 0 10px;
    /* Padding for buttons */
}

#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightContainer {
    display: flex;
}

.fontSizeButton {
    padding: 0px;
    /* border: 1px solid black; */
    height: 20px;
    width: 20px;
}

#title {
    border: none;
    border-bottom: 1px solid #000000;
    border-spacing: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    width: 100%;
}

#title:focus {
    outline: none;
}

.buttons {
    display: flex;
}

#blocks {
    padding-bottom: 500px;
}

.block {
    width: 100%;
    display: block;
    margin-bottom: 2px;
}

.buttonContainer {
    width: 3%;
    text-align: center;
}

.buttonContainer .fa {
    font-size: 10px;
}

.cueContainer,
.noteContainer {
    position: relative;
}

.cueContainer {
    width: 25%;
    resize: horizontal;
}

.noteContainer {
    width: 72%;
    resize: horizontal;
}

.CodeMirror,
.cueDisplay,
.noteDisplay {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    height: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 1.2px solid;
    background-color: transparent;
}

.CodeMirror {
    border-left-color: #7f8080;
}

.cueDisplay::selection,
.noteDisplay::selection,
.CodeMirror .CodeMirror-selected {
    background-color: rgba(186, 186, 186, 0.3);
}

.cueDisplay,
.noteDisplay {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 30px;
    cursor: text;
    tab-size: 4;
    box-sizing: border-box;
    height: 100%;
    transition: background-color 0.3s ease-out;
    overflow-x: auto;
    border-left-color: black;
}

.cueEdit:hover,
.cueDisplay:hover,
.noteEdit:hover,
.noteDisplay:hover,
.cueEdit:focus,
.cueDisplay:focus,
.noteEdit:focus,
.noteDisplay:focus {
    background-color: #e1e0e03c;
}

.cueEdit:focus,
.noteEdit:focus {
    outline: none;
}

.cueDisplay blockquote,
.noteDisplay blockquote {
    border-left: 1.5px solid #7D93B0;
    background-color: #f6f6f642;
    padding-left: 2px;
    margin-left: 2px;
}

.CodeMirror .cm-comment,
.cueDisplay code,
.noteDisplay code {
    font-family: 'Consolas';
    padding: 1px;
    background-color: #bacccf85;
    color: #5778A2;
    font-size: 12px;
}

.cueDisplay pre>code,
.noteDisplay pre>code {
    font-family: 'Consolas';
    padding: 5px;
    background-color: #000000;
    color: white;
    display: block;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    width: 85%;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Centers the block horizontally */
    overflow: auto;
    /* In case the content overflows */
}

.CodeMirror .cm-link,
.cueDisplay a,
.noteDisplay a {
    color: #2796cb;
}

.cueDisplay img,
.noteDisplay img {
    max-width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    /* Adjust the width as needed */
    border-collapse: collapse;
    /* Optional: for collapsing cell borders */
}

table,
th,
td {
    border: 1px solid black;
    /* Optional: for adding borders to the table */
}

th,
td {
    text-align: center;
    /* Centers text horizontally */
    vertical-align: middle;
    /* Centers content vertically */
    padding: 8px;
    /* Optional: for padding inside cells */
}

.cueDisplay mark,
.noteDisplay mark {
    background-color: #FFE878;
}

.fa {
    font-size: 12px;
    margin: 0 auto;
}